:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --primary-font: Ubuntu;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
nav ul {
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

body {
  margin-bottom: 100px 0;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h5 {
  margin: 0;
  display: block;
  font-family: var(--primary-font);
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 18px;
  line-height: 30px;
  color: #6c757d;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
a {
  text-align: center;
}
img {
  border-radius: 20px;
}
footer {
  margin: 60px 0;
}
footer h3 {
  font-size: 20px;
}
footer .email-link {
  color: var(--primary-color);
  font-weight: 500;
  margin-top: 0;
  padding-top: 0;
}
footer .email-link:hover {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
footer .social-links a {
  margin: 0 20px 10px 0;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  transition: all 150ms ease-in-out;
}

.hero {
  background-image: url(../about-me-project/images/blueviolet-wallpaper.jpg);
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  padding-top: 30px;
  line-height: 84px;
  font-weight: bold;
  font-size: 64px;
}
.hero h2 {
  padding: 25px;
  line-height: 28px;
  font-size: 24px;
}
.fixed-top {
  position: fixed;
  color: var(--secondary-color);
}
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
}
.content h3 {
  font-weight: bold;
  font-size: 24px;
}
.container h1 {
  font-size: 44px;
  font-weight: bold;
}
.img-shadow {
  border: 45px solid #f5f2fe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-weight: 500;
}
.navigation-links a:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  transition: all 150ms ease-in-out;
  box-shadow: var(--box-shadow);
}
.text-muted {
  opacity: 1;
  color: #6c757d;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.container {
  width: 100%;
}
.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.primary-link {
  border-radius: 4px;
  padding: 15px 28px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondaary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 16px;
  line-height: 27px;
  font-weight: 600;
}
.primary-link:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
  transition: all 150ms ease-in-out;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.project-description {
  text-align: center;
  padding: 100px 60px;
}
.bottom-links {
  font-size: 14px;
  margin: 0 auto;
}
.contact-links a {
  text-decoration: none;
  color: var(--primary-color);
}

@media (max-width: 600px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
